#disable_html_escaping()

#if ($changelogItemIssueDescription)
    #set ($oldstringKey = "oldstring")
    #set ($newstringKey = "newstring")
    #set ($oldvalueKey = "oldvalue")
    #set ($newvalueKey = "newvalue")

    #set ($oldText = $velocityhelper.getPrettyFieldString($changelogItemIssueDescription.getString("field"), $changelogItemIssueDescription.getString($oldstringKey), $changelogItemIssueDescription.getString($oldvalueKey), $i18n, ""))
    #set ($newText = $velocityhelper.getPrettyFieldString($changelogItemIssueDescription.getString("field"), $changelogItemIssueDescription.getString($newstringKey), $changelogItemIssueDescription.getString($newvalueKey), $i18n, ""))

    #set($textParagraph = $!diffutils.diff($oldText, "background-color: ${auiErrorBackgroundColour}; text-decoration:line-through;", $newText, "background-color:${auiSuccessBackgroundColour};"))
    #rowWrapperNormal("#parse('templates/email/html/includes/patterns/text-paragraph.vm')", '', 'issue-description-container')
#end